td {
    height: 96px;
    width:96px;
    text-align: center;
    font-size:32pt;
    border-width: 2px;
    color: white;

}

body {
    background-image: url("https://newevolutiondesigns.com/images/freebies/nature-hd-background-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


#title {
  margin: auto;
  width: 70%;
  padding: 10px;
}

#Audio {
  margin: auto;
  width: 30%;
  padding: 10px;
}

.raidoButton {
    display: none;
}
table {
    border-style: solid;
    border-width: 2px;
}
img {
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    transition: width 1s;

}

img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  width: 200px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#buttonGroup {
    width: 400px;
    height: 100%;
    margin: auto;
    margin-bottom: 10px;
}
#dem {
    width: 100px;
    height: 60px;
    text-align: center;
    font-family: Raleway;
    color: #7996c4;
    font-size: 15pt;
}
h1 {
    text-align: center;
    font-size: 25pt;
    font-family:Raleway;
    font-weight: 700;
    color: #7996c4;
}
h4 {
    text-align: justify;
    font-family: Raleway;
    font-size: 18pt;
    color:#c4b579;
}

a{
    color: black;
}

#imgSelect {
    width: 700px;
    height: 40%;
    margin: auto;
    margin-bottom: 15px;

}

.buttons {
  border-radius: 4px;
  background-color: #b24e01;
  font-weight: 700;
  font-family: Raleway;
  border: none;
  color: #f4eb42;
  text-align: center;
  font-size: 20pt;
  padding: 20px;
  width: 220px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}

#tableDiv {
    margin: auto;
    width: 400px;
    margin-bottom: 20px;
    font-family: Raleway;
    font-size: 20pt;
}
#shuffleBt {
    width: 200px;
    margin: auto;
}

.buttons1 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #e2bfb7;
  background-color: #96240a;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

.buttons1:hover {background-color: #af391d}

.buttons1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#timer {
    text-align: center;
    font-family: Raleway;
    font-size: 20pt;
    font-weight: 700;
    color: white;
}

#proceed {
  width: 30%;
  margin-left: 35%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

#proceed:hover {background-color: #3e8e41}

#proceed:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#links{
    margin-left: 75%;
}